/* GERAL */
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

/* CONTEÚDO DO MENU - VERTICAL */

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

/* MEIO DE CONTEUDOS = HEADER, CONTENT, FOOTER - HORIZONTAL */

.main {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100%;
}